.max_width {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1200px;
  margin: 0 auto;
  padding: 90px 20px;
  width: 100%;
}

@media (max-width: 768px) {
  .max_width {
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
  }
}
