/** @format */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  font-family: "SF Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-synthesis: none;
  min-height: 100%;

  background-color: #000000;
}

a {
  display: block;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-align: center;
}

span {
  color: inherit;
}

#root,
#__next {
  isolation: isolate;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: var(--color-primary);
}
::-webkit-scrollbar-thumb {
  border-radius: 1000px;
  background-color: var(--color-offwhite);
  border: 2px solid var(--color-primary);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--gray-500);
}
